{% extends 'base.html' %}
{% block content %}

<center>


<br><h2> 충북 청주시 맛집 BEST 5 !! </h2><br>
<h5><p style="color:AAAAAA;"> " 청주에서 이정도는 먹어줘야지~ " </p></h5>
<br>
<br>
    <hr color="gray" width=100% size="2">
<br>
<br>

    <p><cite><h3> 1. 입이즐거운그만두 </h3><br><h6><p style="color:#747474;"> 충청북도 청주시 사천동 432-4 </p></h6></cite></p>
<a href = "igo/cj_list_detail"><img src="/static/category/입그만.png"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 2. 솥밥집 </h3><br><h6><p style="color:#747474;"> 충청북도 청주시 율량로 202번길 20 102 </p></h6></cite></p>
<a href = "igo/cj_list_detail"><img src="/static/category/솥밥집.jpeg"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 3. 본토막창 </h3><br><h6><p style="color:#747474;"> 충청북도 청주시 상당구 율량동 1304 </p></h6></cite></p>
<a href = "igo/cj_list_detail"><img src="/static/category/본토막창.png"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 4. 해담 </h3><br><h6><p style="color:#747474;"> 충청북도 청주시 상당구 율량동 485-6 </p></h6></cite></p>
<a href = "igo/cj_list_detail"><img src="/static/category/해담.png"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 5. 대산보리밥 </h3><br><h6><p style="color:#747474;">  충청북도 청주시 서원구 죽림동 77-2 K </p></h6></cite></p>
<a href = "igo/cj_list_detail"><img src="/static/category/대산보리밥.png" a border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

</center>
{% endblock %}
