{% extends 'base.html' %}
{% block content %}

<center>

<br><h2> 가족모임 맛집 BEST 5 !! </h2><br>
<h5><p style="color:AAAAAA;"> " 외식을 어디에서 할 지 고민이라면? " </p></h5>
<br>
<br>
    <hr color="gray" width=100% size="2">
<br>
<br>

    <p><cite><h3> 1. 만정수산 </h3><br><h6><p style="color:#747474;"> 인천 중구 영종순환로 339번길 85 </p></h6></cite></p>
<a href = "igo/family_list_detail"><img src="/static/category/만정수산.png"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 2. 설가온 </h3><br><h6><p style="color:#747474;"> 서울특별시 종로구 세종문화회관 지하1층 </p></h6></cite></p>
<a href = "igo/family_list_detail1"><img src="/static/category/설가온.png"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 3. 홍연  </h3><br><h6><p style="color:#747474;"> 서울특별시 중구 소공동 소공로 106</p></h6></cite></p>
<a href = "igo/family_list_detail"><img src="/static/category/홍연.png"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 4. 대문한정식 </h3><br><h6><p style="color:#747474;"> 서울특별시 도봉구 방학3동 436-9 </p></h6></cite></p>
<a href = "igo/family_list_detail"><img src="/static/category/대문한정식.png"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 5. 비스트로미 </h3><br><h6><p style="color:#747474;">  서울특별시 중구 남대문로5가 581 </p></h6></cite></p>
<a href = "igo/family_list_detail"><img src="/static/category/비스트로미.png" a border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

</center>
{% endblock %}


