{% extends 'base.html' %}
{% block content %}

<center>

<br><h2> 유명인이 운영하는 맛집 BEST 5 !! </h2><br>
<h5><p style="color:AAAAAA;"> " 유명인이 보고싶다면 여기로 오세요~ " </p></h5>
<br>
<br>
    <hr color="gray" width=100% size="2">
<br>
<br>

    <p><cite><h3> 1. 루아라운지 </h3><br><h6><p style="color:#747474;"> 서울시 용산구 이태원동 127-1 </p></h6></cite></p>
<a href = "igo/famous_list_detail"><img src="/static/category/루아라운지.jpeg"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 2. 소주한잔 </h3><br><h6><p style="color:#747474;"> 경기도 성남시 분당구 정자동 157-11(정자동본점) </p></h6></cite></p>
<a href = "igo/famous_list_detail"><img src="/static/category/소주한잔.jpeg"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 3. 몽상드애월  </h3><br><h6><p style="color:#747474;"> 제주 제주시 애월읍 애월리 2546 </p></h6></cite></p>
<a href = "igo/famous_list_detail"><img src="/static/category/몽상드애월.jpeg"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 4. 마이스윗 </h3><br><h6><p style="color:#747474;"> 서울시 용산구 이태언동 66-1 </p></h6></cite></p>
<a href = "igo/famous_list_detail"><img src="/static/category/마이스윗.jpeg"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 5. 야미깜퐁 </h3><br><h6><p style="color:#747474;">  서울시 종로구 을지로 6가 17-2 </p></h6></cite></p>
<a href = "igo/famous_list_detail"><img src="/static/category/야미깜풍.jpeg" a border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

</center>
{% endblock %}


