{% extends 'base.html' %}
{% block content %}

<center>

<br><h2> 친구끼리 갈만한 곳 BEST 5 !! </h2><br>
<h5><p style="color:AAAAAA;"> " 친구끼리 갈 곳이 없을 땐? " </p></h5>
<br>
<br>
    <hr color="gray" width=100% size="2">
<br>
<br>

    <p><cite><h3>1. 땅코참숯구이 </h3><br><h6><p style="color:#747474;"> 서울 성동구 행당로17길 21 </p></h6></cite></p>
<a href = "igo/friend_list_detail"><img src="/static/category/땅코참숯구이.jpeg"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 2. 다시올치킨 </h3><br><h6><p style="color:#747474;"> 서울 성동구 사근동8길 8 </p></h6></cite></p>
<a href = "igo/friend_list_detail"><img src="/static/category/다시올치킨.jpeg"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 3. 청춘초밥 </h3><br><h6><p style="color:#747474;"> 서울 성동구 마조로5길 4 </p></h6></cite></p>
<a href = "igo/friend_list_detail"><img src="/static/category/청춘초밥.jpeg"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 4. 일미리금계찜닭 </h3><br><h6><p style="color:#747474;"> 서울 성동구 마조로 35 </p></h6></cite></p>
<a href = "igo/friend_list_detail"><img src="/static/category/일미리금계찜닭.jpeg"  border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

    <p><cite><h3><br> 5. 안면식당 </h3><br><h6><p style="color:#747474;">  충청남도 태안군 안면읍 창기리 1262-199 </p></h6></cite></p>
<a href = "igo/friend_list_detail"><img src="/static/category/안면식당.jpeg" a border="0" width="400" height = "200"></a>
<hr color="gray" width=40% size="2">

</center>
{% endblock %}


